div{
  height: 100px;
  width: 100%;
  border: 2px solid black;
  margin: 10px;
}
img {
  width:  80px;
  height: auto;
  margin: 10px;
  border: 3px solid #333;
  
}
.img-left {
  float: left;
}

.img-right {
  float: right;
}


p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-left: 20px;
}
